:root{
    --primary-color: #1BE7FF;
    --secondary-color :#09ACEC;
    --accent1-color :#BAABBD;
    --accent2-color :#231651;
}

body {
    max-width: 1500px;
    display: inline-block;
    padding: 10px;
    background: var(--accent1-color);
    font-family: "Alumni Sans Pinstripe", serif;
}

header {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

header img {
    padding-left: 30px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


header nav a{
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: var(--accent2-color);
}

#story {
    padding: 5px;
    background-color: var(--accent2-color);
    opacity: .9;
    text-align: center;
    color: var(--accent1-color);
}

#story h2{
    padding: 15px 15px;
    font-style: italic;
    font-size: 40px;
    margin: 0;
}

.story-flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.story-flex-container > img{
    width: auto;
    height: 100px;
}

.adventure-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px;
}

.adventure-flex-container figure img{
    width: auto;
    height: 150px;
}


h1, h2, h3, h4 {
    font-family: "Trade Winds", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    text-align: center;
}

.alumni-sans-pinstripe-regular {
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
    font-family: "Alumni Sans Pinstripe", serif;
    font-weight: 400;
    font-style: italic;
}

.hero{
    position: relative;
}

.hero h1{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--accent1-color);
}

.hero article{
    position: absolute;
    top: 90px;
    left: 20px;
    color: var(--accent2-color);
    background-color: #ffffffc2;
    padding-right: 20px;
    
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
}

.hero img {
    width: 100%;
    height: auto;
}

footer nav{
    display: flex;
    flex-direction: row-reverse;
}
footer nav a {
    margin: 0 20px 0 20px;
    text-decoration: none;
}
footer nav img {
    height: 60px;
    width: auto;
}
